

.search{
    background-color: #ebecf6;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    
}
.search input{
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    
}
.search ::placeholder{
    color: rgb(9, 9, 9);
    opacity: 0.7;

}
.img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img img{
    margin-right: 100px;
}
.img-1 img{
    margin: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-right: 70px;
}
.menu{
    margin-left: 400px;
    margin-right:300px ;
    margin-top: 50px;
}
.div-1{
    text-align: center;
}
.p-1{
    font-size: 70px;
}
.p-2{
    font-size: 25px;
    margin-top: -30px;
}
.span{
    color: rgb(155, 150, 150);
}
.div-2{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
}
.span-3{
    color:rgb(155, 150, 150) ;
}
.span-2{
    font-size:37px ;
    font-weight: 700;
}